.app {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.app-nav {
  background-color: lightblue;
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  border-style: ridge;
}

.app-header {
  /* font-weight: bold; */
  grid-area: header;
  color: lightgoldenrodyellow;
  background-color: grey;
  padding: 15px;
}

.rental-details {
  background-color: lightgoldenrodyellow;
  font-weight: bold;
  border-style: double;
  border-color: lightslategray;
}
