.app {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-nav {
  background-color: lightblue;
  /* display: flex; */
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.app-header {
  grid-area: header;
  color: lightgoldenrodyellow;
  background-color: grey;
  padding: 15px;
}

/* .search-results {
  margin-top: 20%;
} */
